
 html, body {
 	padding: 0px;
 	margin: 0px;
 	-webkit-print-color-adjust: exact;
 }

 body {
 	background-color: black;
 }

 #photo {
 	background-color: red;
 	display: inline-block;
 	position: absolute;
 	left: 680px;
 	top: 155px;
 	width: 187px;
 	height: 245px;
 	border: 2px solid black;
 }

 #lab {
 	position: absolute;
 	display: inline-block;
 	top: 490px;
 	left: 690px;
 	font-family: arial;
 	font-size: 20px;
 	border: 2px solid black;
 	padding: 10px 20px;
 	transition: background-color, color, border-radius;
 	transition-duration: 0.3s
 }
#lab:hover {
 	background-color: black;
 	color: white;
 	border-radius: 20px;
}

#printbutton {
	position: absolute;
 	display: inline-block;
 	background-color: transparent;
 	top: 550px;
 	left: 690px;
 	font-family: arial;
 	font-size: 20px;
 	border: 2px solid black;
 	padding: 10px 20px;
 	transition: background-color, color, border-radius;
 	transition-duration: 0.3s
}

#printbutton:hover {
	background-color: black;
	color: white;
	border-radius: 20px;
}

#name {
	background-color: transparent;
	position: absolute;
	display: inline-block;
	left: 250px;
	top: 644px;
	color: white;
	font-weight: bolder;
	font-size: 28px;
	border: none;
	width: 400px;
}

#sign {
	display: inline-block;
	position: absolute;
	top: 335px;
	left: 730px;
	width: 180px;
	height: 180px;
}